body { background-color:#FFFFFF; }
.sf_main_header { color:#E32D91; }
.sf_sub_header { color:#None; }
.sf_pagetitle { color:#None; }
.sf_footer { color:#555555; }
.sf_main { background-color:#None; }
.sf_region3 { background-color:#None; }
.sf_navigation { background-color:#None; }
.sf_navigation ul li { background-color:#None; }
.sfgb_title-bar { color:#000000; }
.sfgb_paginator { color:#000000; }
a.sfgb_paginator { color:#000000; }
a.sfgb_paginator:hover { color:#000000; }
a.sfgb_paginator:visited { color:#000000; }
.sfgb_message-title { color:#none; }
.sfgb_message-text { color:#000000; }
.sfgb_message-form-panel-body { color:#000000; }
.sfgb_message-form-panel-body { background-color:#EBEBEB; }
.sfgb_message-form-panel-error { color:#C00C00; }
.sfgb_submit-button { color:#000000; }
body#pgBgImage_2176709 { page_background-image: url(images/71648688.png);
pg_bg_sizing: tile;
pg_bg_alignment: ;
 }
.sf_navigation ul li a { color:#E62E86; }
.sf_navigation ul li a { background-color:#None; }
.sf_navigation ul li a:visited { color:#555555; }
.sf_navigation ul li a:hover { color:#E62E86; }
.sf_navigation ul li a:hover { background-color:#None; }
a { color:#E62E86; }
a:link { color:#E62E86; }
a:visited { color:#E62E86; }
a:hover { color:#E62E86; }
body#page_a25653d9-8d10-40d0-8239-6694448af275 div#content1 { width:88.62%; }
body#page_25272400-6396-4d89-826d-cd9884beef06 div#content1 { width:95%; }
body#page_8e756aaf-cfeb-42fd-bdfc-1eff85147609 div#content1 { width:95%; }
body#page_21692c67-e057-4f74-b5cd-cf9b42e85fca div#content1 { width:95%; }
body#page_65d0e964-bf81-4b50-9be9-0df94fc93237 div#content1 { width:95%; }
body#page_8bcb245d-6547-4c0d-8f42-b17cc43284db div#content1 { width:95%; }
body#page_25272400-6396-4d89-826d-cd9884beef06 div# { width:100%; }
body#page_25272400-6396-4d89-826d-cd9884beef06 div#layoutcontainer { width:97.87%; }
body#page_0aede98b-ab49-4bdd-8169-6050747827d2 div#content1 { width:95%; }
body#page_0aede98b-ab49-4bdd-8169-6050747827d2 div#content1 { height:798px; }
body#page_a25653d9-8d10-40d0-8239-6694448af275 div# { width:100%; }
